Le 30 mars 2023 au Grand Salon de la Sorbonne, un évènement a eu lieu sur le thème de l'économie d'énergie et le développement durable, organisé par l'Université Paris 1 Panthéon-Sorbonne, Engie et DataScientest. 
L'objectif de ce data challenge était de trouver le meilleur modèle de prédiction qui estimerait l'optimisation de production d'énergie par les éoliennes dans le département de la Meuse pour éviter la surproduction de l'énergie qui, à son retour, engendrait le coût de stockage et donc l'émission de CO2 mais également éviter la sousproduction qui nécessiterait de faire appel aux autres moyens d'énergies très polluants (le charbon, le pétrole, le gaz, etc). 
Nous avons reçu un dataset divisé en 3 fichiers avec les données sur lesquelles on devait entrainer nos modèles, les données sur lesquelles on devait tester nos modèles ainsi que les 
informations avec les données statiques.

In [4]:
# Pour commencer, nous avons importé les libraries nécessaires. Aussi, nous créons les variables pour visualiser les données dans les dataframes. Nous analysons les tableaux.  
import pandas as pd
train = pd.read_csv('train_set.csv', sep=',')
test = pd.read_csv('test_set.csv', sep=',')
infos =pd.read_csv('static_desc.csv',sep=',')
train.head()

<ipython-input-4-1863229507e5>:3: DtypeWarning: Columns (1,3,6,7,10,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train_set.csv', sep=',')

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Power,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Vanne_position_1,Vanne_position_2,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected,date
0,R80711,-0.991667,12.650000,7.528333,1177.314967,38.430000,38.495000833333336,168.921663,17.480000,170.735000,NaN,NaN,5.538333,5.416667,5.683333,49.988334,711.461668,28.755001,185.735000,2012-12-31 23:00:00+01:00
1,R80711,-0.996667,12.393333,8.426667,1200.676667,35.816668,37.55333383333333,177.89999,17.075000,172.179998,NaN,NaN,5.790000,5.616667,5.816667,50.003332,711.318338,28.516667,187.179998,2013-01-01 00:00:00+01:00
2,R80711,-0.996667,12.168333,18.873333,1092.826665,36.083334,37.934999499999996,177.89999,17.175000,179.484998,NaN,NaN,5.893333,5.766667,6.000000,50.006666,713.013337,28.403334,194.484998,2013-01-01 01:00:00+01:00
3,R80711,-0.973333,12.088333,20.88,1080.954980,38.886667,38.863334,177.89999,16.761666,177.995000,NaN,NaN,5.325000,5.183333,5.483333,50.003333,706.32,28.513334,192.995000,2013-01-01 02:00:00+01:00
4,R80711,-0.71,12.331667,15.95,1351.328317,35.290000,37.084999833333335,175.903325,14.630000,169.683332,NaN,NaN,4.648333,4.533333,4.716667,50.0,709.16333,28.084779,184.683332,2013-01-01 03:00:00+01:00

In [5]:
test.head()

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Vanne_position_1,Vanne_position_2,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected,date
0,R80711,-0.990000,26.000000,98.238000,42.616001,41.058001,246.158000,25.796000,245.924000,0.636994,0.637333,21.064001,20.820000,21.350000,49.990001,696.963990,31.952000,245.924000,2016-7-12T15:00+01:00
1,R80711,-0.990000,26.000000,80.154998,43.488333,42.001667,263.205003,33.071666,264.173335,0.636994,0.637333,20.281666,20.150000,20.450000,49.988334,699.760010,31.996666,264.173335,2016-7-12T16:00+01:00
2,R80711,-0.936667,26.000000,75.920001,42.441667,41.435000,289.506673,24.930000,294.600002,0.636994,0.637333,17.525000,17.200000,17.833333,49.981668,701.626667,32.014999,294.600002,2016-7-12T17:00+01:00
3,R80711,-0.871667,25.790000,32.060001,39.123334,38.670000,306.220000,27.376667,312.855000,0.636994,0.637333,16.538333,16.483333,16.616667,50.008333,695.794982,31.895000,312.855000,2016-7-12T18:00+01:00
4,R80711,7.288333,25.383334,159.099999,42.286667,41.075001,285.360002,25.358334,270.175003,0.636994,0.637333,16.448332,16.291667,16.566667,50.000000,694.231660,31.070000,270.175003,2016-7-12T19:00+01:00

In [6]:
infos.head()

,Wind_turbine_name,Wind_turbine_long_name,Manufacturer,Model,Hub height (m),Rotor diameter (m),GPS,Altitude (m),Department,Region,Length of blades (m),Weight (tons),Rotor surface (m2)
0,R80736,FRHBO_E04_80736,SENVION,MM82,82,90,"48.4461,5.5925",411.0,Meuse,Grand Est,46,128,5.281
1,R80721,FRHBO_E03_80721,EOLYS,EL80,80,95,"48.4497,5.5869",325.0,Meuse,NaN,45,120,5.100
2,R80711,FRHBO_E01_80711,NENUPHAR,NVP,105,82,"48.4569,5.5847",400.0,Meuse,Grand Est,50,150,6.348
3,R80790,FRHBO_E02_80790,VERGNET,MPC-V,75,105,"48.4536,5.5875",370.0,Meuse,Grand Est,38,110,4.234
4,R80789,FRHBO_E04_80789,NENUPHAR,NVP-2,32,29,"48.4463,5.5935",520.0,Meuse,Grand Est,18,56,1789.123

In [7]:
# Nous vérifions la présence de valeurs manquantes dans le tableau TRAIN qui devront être soit remplacées par les valeurs moyennes soit supprimées
train.isna().sum(axis=0)

Wind_turbine_name               783
Pitch_angle                    1769
Hub_temperature                 804
Generator_converter_speed       813
Power                             0
Generator_temp_1                805
Generator_temp_2                799
Nacelle_angle                   815
Nacelle_temperature               0
Wind_direction                  785
Vanne_position_1             123519
Vanne_position_2             123520
Outdoor_temp                    816
Outdoor_temp_min                785
Outdoor_temp_max                791
Grid_frequency                  828
Grid_voltage                    760
Rotor_temp                      791
wind_direction_corrected          0
date                           3252
dtype: int64

In [8]:
# Mais d'abord, nous transformons ces valeurs manquantes de type string en NAN de la librarie numpy pour pouvoir leur attribuer la valeur moyenne numérique 
# et nous changeons également le type de tous nos variables pour float pour uniformiser sauf la 1ère colonne/target qui est la colonne catégorielle et la dernière qui est la colonne avec la date.   
import numpy as np 
train['Pitch_angle'] = train['Pitch_angle'].replace('Error', np.nan).astype('float')
train['Generator_converter_speed'] = train['Generator_converter_speed'].replace('Error', np.nan).astype('float')
train['Generator_temp_2'] = train['Generator_temp_2'].replace('Error', np.nan).astype('float')
train['Nacelle_angle'] = train['Nacelle_angle'].replace('Error', np.nan).astype('float')
train['Vanne_position_1'] = train['Vanne_position_1'].replace('Error', np.nan).astype('float')
train['Grid_frequency'] = train['Grid_frequency'].replace('Error', np.nan).astype('float')
train['Grid_voltage'] = train['Grid_voltage'].replace('Error', np.nan).astype('float')
train['Rotor_temp'] = train['Rotor_temp'].replace('Error', np.nan).astype('float')


print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123520 entries, 0 to 123519
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Wind_turbine_name          122737 non-null  object
 1   Pitch_angle                121750 non-null  float64
 2   Hub_temperature            122716 non-null  float64
 3   Generator_converter_speed  122706 non-null  float64
 4   Power                      123520 non-null  float64
 5   Generator_temp_1           122715 non-null  float64
 6   Generator_temp_2           122720 non-null  float64
 7   Nacelle_angle              122704 non-null  float64
 8   Nacelle_temperature        123520 non-null  float64
 9   Wind_direction             122735 non-null  float64
 10  Vanne_position_1           0 non-null       float64
 11  Vanne_position_2           0 non-null       float64
 12  Outdoor_temp               122704 non-null  float64
 13  Outdoor_temp_min           122735 non-null  float64
 14  Outdoor_temp_max           122729 non-null  float64
 15  Grid_frequency             122691 non-null  float64
 16  Grid_voltage               122759 non-null  float64
 17  Rotor_temp                 122728 non-null  float64
 18  wind_direction_corrected   123520 non-null  float64
 19  date                       120268 non-null  object
dtypes: float64(18), object(2)
memory usage: 18.8+ MB
None

In [9]:
# On remplace les valeurs manquantes numériques par les valeurs moyennes et les valeurs manquantes de type string pour la 1ère et la dernière colonnes par la valeur la plus utilisée 
# Nous constatons que les valeurs manquantes pour les deux colonnes "Vanne_position_1" & "Vanne_position_2" sont toujours là. On est obligées de les supprimer dans ce cas-là.  
num_cols=["Pitch_angle", "Hub_temperature", "Generator_converter_speed", "Generator_temp_1","Generator_temp_2", "Nacelle_angle", "Wind_direction", "Vanne_position_1", "Vanne_position_2", "Outdoor_temp", "Outdoor_temp_min", "Outdoor_temp_max", "Grid_frequency", "Grid_voltage", "Rotor_temp"]
for num in num_cols:
    train[num]=train[num].fillna(train[num].mean())
string_cols=["Wind_turbine_name", "date"]
for string in string_cols: 
    train[string]=train[string].fillna(train[string].mode()[0])

train.isna().sum(axis=0)

Wind_turbine_name                 0
Pitch_angle                       0
Hub_temperature                   0
Generator_converter_speed         0
Power                             0
Generator_temp_1                  0
Generator_temp_2                  0
Nacelle_angle                     0
Nacelle_temperature               0
Wind_direction                    0
Vanne_position_1             123520
Vanne_position_2             123520
Outdoor_temp                      0
Outdoor_temp_min                  0
Outdoor_temp_max                  0
Grid_frequency                    0
Grid_voltage                      0
Rotor_temp                        0
wind_direction_corrected          0
date                              0
dtype: int64

In [10]:
train=train.drop(['Vanne_position_1'], axis=1)
train=train.drop(['Vanne_position_2'], axis=1)
train.head()

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Power,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected,date
0,R80711,-0.991667,12.650000,7.528333,1177.314967,38.430000,38.495001,168.921663,17.480000,170.735000,5.538333,5.416667,5.683333,49.988334,711.461668,28.755001,185.735000,2012-12-31 23:00:00+01:00
1,R80711,-0.996667,12.393333,8.426667,1200.676667,35.816668,37.553334,177.899990,17.075000,172.179998,5.790000,5.616667,5.816667,50.003332,711.318338,28.516667,187.179998,2013-01-01 00:00:00+01:00
2,R80711,-0.996667,12.168333,18.873333,1092.826665,36.083334,37.934999,177.899990,17.175000,179.484998,5.893333,5.766667,6.000000,50.006666,713.013337,28.403334,194.484998,2013-01-01 01:00:00+01:00
3,R80711,-0.973333,12.088333,20.880000,1080.954980,38.886667,38.863334,177.899990,16.761666,177.995000,5.325000,5.183333,5.483333,50.003333,706.320000,28.513334,192.995000,2013-01-01 02:00:00+01:00
4,R80711,-0.710000,12.331667,15.950000,1351.328317,35.290000,37.085000,175.903325,14.630000,169.683332,4.648333,4.533333,4.716667,50.000000,709.163330,28.084779,184.683332,2013-01-01 03:00:00+01:00

In [11]:
# On supprime la colonne avec la date également 
train=train.drop(["date"], axis=1)
train.head()

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Power,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected
0,R80711,-0.991667,12.650000,7.528333,1177.314967,38.430000,38.495001,168.921663,17.480000,170.735000,5.538333,5.416667,5.683333,49.988334,711.461668,28.755001,185.735000
1,R80711,-0.996667,12.393333,8.426667,1200.676667,35.816668,37.553334,177.899990,17.075000,172.179998,5.790000,5.616667,5.816667,50.003332,711.318338,28.516667,187.179998
2,R80711,-0.996667,12.168333,18.873333,1092.826665,36.083334,37.934999,177.899990,17.175000,179.484998,5.893333,5.766667,6.000000,50.006666,713.013337,28.403334,194.484998
3,R80711,-0.973333,12.088333,20.880000,1080.954980,38.886667,38.863334,177.899990,16.761666,177.995000,5.325000,5.183333,5.483333,50.003333,706.320000,28.513334,192.995000
4,R80711,-0.710000,12.331667,15.950000,1351.328317,35.290000,37.085000,175.903325,14.630000,169.683332,4.648333,4.533333,4.716667,50.000000,709.163330,28.084779,184.683332

In [12]:
# le tableau TEST n'a acucune valeur manquante 
test.isna().sum(axis=0)

Wind_turbine_name            0
Pitch_angle                  0
Hub_temperature              0
Generator_converter_speed    0
Generator_temp_1             0
Generator_temp_2             0
Nacelle_angle                0
Nacelle_temperature          0
Wind_direction               0
Vanne_position_1             0
Vanne_position_2             0
Outdoor_temp                 0
Outdoor_temp_min             0
Outdoor_temp_max             0
Grid_frequency               0
Grid_voltage                 0
Rotor_temp                   0
wind_direction_corrected     0
date                         0
dtype: int64

In [16]:
#test=test.drop(['Vanne_position_1'], axis=1)
#test=test.drop(['Vanne_position_2'], axis=1)
#test=test.drop(["date"], axis=1)
test.head()

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected
0,R80711,-0.990000,26.000000,98.238000,42.616001,41.058001,246.158000,25.796000,245.924000,21.064001,20.820000,21.350000,49.990001,696.963990,31.952000,245.924000
1,R80711,-0.990000,26.000000,80.154998,43.488333,42.001667,263.205003,33.071666,264.173335,20.281666,20.150000,20.450000,49.988334,699.760010,31.996666,264.173335
2,R80711,-0.936667,26.000000,75.920001,42.441667,41.435000,289.506673,24.930000,294.600002,17.525000,17.200000,17.833333,49.981668,701.626667,32.014999,294.600002
3,R80711,-0.871667,25.790000,32.060001,39.123334,38.670000,306.220000,27.376667,312.855000,16.538333,16.483333,16.616667,50.008333,695.794982,31.895000,312.855000
4,R80711,7.288333,25.383334,159.099999,42.286667,41.075001,285.360002,25.358334,270.175003,16.448332,16.291667,16.566667,50.000000,694.231660,31.070000,270.175003

In [17]:
# le tableau INFOS n'a seulement une valeur manquante 
infos.isna().sum(axis=0)

Wind_turbine_name         0
Wind_turbine_long_name    0
Manufacturer              0
Model                     0
Hub height (m)            0
Rotor diameter (m)        0
GPS                       0
Altitude (m)              0
Department                0
Region                    1
Length of blades (m)      0
Weight (tons)             0
Rotor surface (m2)        0
dtype: int64

In [19]:
# On la remplace par la valeur catégorielle la plus utilisée 
infos["Region"].fillna("Grand Est", inplace = True)
infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Wind_turbine_name       6 non-null      object
 1   Wind_turbine_long_name  6 non-null      object
 2   Manufacturer            6 non-null      object
 3   Model                   6 non-null      object
 4   Hub height (m)          6 non-null      int64
 5   Rotor diameter (m)      6 non-null      int64
 6   GPS                     6 non-null      object
 7   Altitude (m)            6 non-null      float64
 8   Department              6 non-null      object
 9   Region                  6 non-null      object
 10  Length of blades (m)    6 non-null      int64
 11  Weight (tons)           6 non-null      int64
 12  Rotor surface (m2)      6 non-null      float64
dtypes: float64(2), int64(4), object(7)
memory usage: 752.0+ bytes

In [20]:
infos.head()

,Wind_turbine_name,Wind_turbine_long_name,Manufacturer,Model,Hub height (m),Rotor diameter (m),GPS,Altitude (m),Department,Region,Length of blades (m),Weight (tons),Rotor surface (m2)
0,R80736,FRHBO_E04_80736,SENVION,MM82,82,90,"48.4461,5.5925",411.0,Meuse,Grand Est,46,128,5.281
1,R80721,FRHBO_E03_80721,EOLYS,EL80,80,95,"48.4497,5.5869",325.0,Meuse,Grand Est,45,120,5.100
2,R80711,FRHBO_E01_80711,NENUPHAR,NVP,105,82,"48.4569,5.5847",400.0,Meuse,Grand Est,50,150,6.348
3,R80790,FRHBO_E02_80790,VERGNET,MPC-V,75,105,"48.4536,5.5875",370.0,Meuse,Grand Est,38,110,4.234
4,R80789,FRHBO_E04_80789,NENUPHAR,NVP-2,32,29,"48.4463,5.5935",520.0,Meuse,Grand Est,18,56,1789.123

In [21]:
# On supprime les colonnes qui ne sont pas pertinentes 
infos = infos.drop(['Region','Department','Wind_turbine_long_name'], axis =1) 
infos.head()

,Wind_turbine_name,Manufacturer,Model,Hub height (m),Rotor diameter (m),GPS,Altitude (m),Length of blades (m),Weight (tons),Rotor surface (m2)
0,R80736,SENVION,MM82,82,90,"48.4461,5.5925",411.0,46,128,5.281
1,R80721,EOLYS,EL80,80,95,"48.4497,5.5869",325.0,45,120,5.100
2,R80711,NENUPHAR,NVP,105,82,"48.4569,5.5847",400.0,50,150,6.348
3,R80790,VERGNET,MPC-V,75,105,"48.4536,5.5875",370.0,38,110,4.234
4,R80789,NENUPHAR,NVP-2,32,29,"48.4463,5.5935",520.0,18,56,1789.123

In [22]:
# Il y a 6 uniques noms de turbines 
infos['Wind_turbine_name'].unique()

array(['R80736', 'R80721', 'R80711', 'R80790', 'R80789', 'R80925'],
      dtype=object)

In [26]:
# On remplace les valeurs catégorielles en numériques 
train['Wind_turbine_name']=train["Wind_turbine_name"].replace(['R80736', 'R80721', 'R80711', 'R80790', 'R80789', 'R80925'], [1,2,3,4,5,6])
train.head()

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Power,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,Outdoor_temp,Outdoor_temp_min,Outdoor_temp_max,Grid_frequency,Grid_voltage,Rotor_temp,wind_direction_corrected
0,3,-0.991667,12.650000,7.528333,1177.314967,38.430000,38.495001,168.921663,17.480000,170.735000,5.538333,5.416667,5.683333,49.988334,711.461668,28.755001,185.735000
1,3,-0.996667,12.393333,8.426667,1200.676667,35.816668,37.553334,177.899990,17.075000,172.179998,5.790000,5.616667,5.816667,50.003332,711.318338,28.516667,187.179998
2,3,-0.996667,12.168333,18.873333,1092.826665,36.083334,37.934999,177.899990,17.175000,179.484998,5.893333,5.766667,6.000000,50.006666,713.013337,28.403334,194.484998
3,3,-0.973333,12.088333,20.880000,1080.954980,38.886667,38.863334,177.899990,16.761666,177.995000,5.325000,5.183333,5.483333,50.003333,706.320000,28.513334,192.995000
4,3,-0.710000,12.331667,15.950000,1351.328317,35.290000,37.085000,175.903325,14.630000,169.683332,4.648333,4.533333,4.716667,50.000000,709.163330,28.084779,184.683332

In [27]:
infos['Manufacturer'].unique()

array(['SENVION', 'EOLYS', 'NENUPHAR', 'VERGNET'], dtype=object)

In [29]:
infos['Model'].unique()

array(['MM82', 'EL80', 'NVP', 'MPC-V', 'NVP-2', 'MR-54'], dtype=object)

In [30]:
# On remplace les valeurs catégorielles avec les valeurs numériques et on divise la colonne GPS qui contient deux valeurs en deux colonnes  
infos['Wind_turbine_name']=infos["Wind_turbine_name"].replace(['R80736', 'R80721', 'R80711', 'R80790', 'R80789', 'R80925'], [1,2,3,4,5,6])
infos['Manufacturer']=infos["Manufacturer"].replace(['SENVION', 'EOLYS', 'NENUPHAR', 'VERGNET'], [1,2,3,4,])
infos['Model']=infos["Model"].replace(['MM82', 'EL80', 'NVP', 'MPC-V', 'NVP-2', 'MR-54'],[1,2,3,4,5,6] )
infos["GPS1"]=infos["GPS"].apply(lambda x: float(x.split(',') [0]))
infos["GPS2"]=infos["GPS"].apply(lambda x: float(x.split(',') [1]))
infos=infos.drop(["GPS"], axis=1)
infos.head()

,Wind_turbine_name,Manufacturer,Model,Hub height (m),Rotor diameter (m),Altitude (m),Length of blades (m),Weight (tons),Rotor surface (m2),GPS1,GPS2
0,1,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925
1,2,2,2,80,95,325.0,45,120,5.100,48.4497,5.5869
2,3,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
3,4,4,4,75,105,370.0,38,110,4.234,48.4536,5.5875
4,5,3,5,32,29,520.0,18,56,1789.123,48.4463,5.5935

In [31]:
# On merge la colonne TRAIN et INFOS 
df_all = pd.merge(train, infos, on=['Wind_turbine_name'])
df_all

,Wind_turbine_name,Pitch_angle,Hub_temperature,Generator_converter_speed,Power,Generator_temp_1,Generator_temp_2,Nacelle_angle,Nacelle_temperature,Wind_direction,...,Manufacturer,Model,Hub height (m),Rotor diameter (m),Altitude (m),Length of blades (m),Weight (tons),Rotor surface (m2),GPS1,GPS2
0,3,-0.991667,12.650000,7.528333,1177.314967,38.430000,38.495001,168.921663,17.480000,170.735000,...,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
1,3,-0.996667,12.393333,8.426667,1200.676667,35.816668,37.553334,177.899990,17.075000,172.179998,...,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
2,3,-0.996667,12.168333,18.873333,1092.826665,36.083334,37.934999,177.899990,17.175000,179.484998,...,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
3,3,-0.973333,12.088333,20.880000,1080.954980,38.886667,38.863334,177.899990,16.761666,177.995000,...,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
4,3,-0.710000,12.331667,15.950000,1351.328317,35.290000,37.085000,175.903325,14.630000,169.683332,...,3,3,105,82,400.0,50,150,6.348,48.4569,5.5847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123515,1,-0.978333,26.043333,195.215000,447.381663,40.498333,38.661666,241.820002,29.211667,236.643335,...,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925
123516,1,-0.945000,26.078333,221.223330,356.653333,46.605001,41.368333,252.618328,32.055000,258.846667,...,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925
123517,1,-0.978333,26.230000,200.149998,320.451670,40.838333,39.345001,247.151667,27.226667,243.906668,...,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925
123518,1,-0.950000,26.681667,162.736666,250.138337,43.815001,40.493333,234.456665,33.013333,226.355000,...,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925
123519,1,-0.980000,26.969999,151.509990,163.720000,47.990002,43.380001,229.640000,36.619999,235.410000,...,1,1,82,90,411.0,46,128,5.281,48.4461,5.5925

In [32]:
# On importe le modèle de Regression Linéaire et le module train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X=df_all.drop('Power', axis =1) # X contiendra toutes les colonnes avec les valeurs sur lesquelles on va effectuer l'entrainement et le test 
y=df_all['Power'] # y va contenir les valeurs de notre colonne TARGET = POWER dont les valeurs devront être prédites 

X_norm= 2*(X-X.min())/(X.max()-X.min())-1 # On normalise les valeurs de X pour uniformiser et standardiser 

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state = 42) # avec 30% de jeu de données prises pour tester et 70% pour entrainer

In [33]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86464 entries, 71777 to 121958
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Wind_turbine_name          86464 non-null  float64
 1   Pitch_angle                86464 non-null  float64
 2   Hub_temperature            86464 non-null  float64
 3   Generator_converter_speed  86464 non-null  float64
 4   Generator_temp_1           86464 non-null  float64
 5   Generator_temp_2           86464 non-null  float64
 6   Nacelle_angle              86464 non-null  float64
 7   Nacelle_temperature        86464 non-null  float64
 8   Wind_direction             86464 non-null  float64
 9   Outdoor_temp               86464 non-null  float64
 10  Outdoor_temp_min           86464 non-null  float64
 11  Outdoor_temp_max           86464 non-null  float64
 12  Grid_frequency             86464 non-null  float64
 13  Grid_voltage               86464 non-null  float64
 14  Rotor_temp                 86464 non-null  float64
 15  wind_direction_corrected   86464 non-null  float64
 16  Manufacturer               86464 non-null  float64
 17  Model                      86464 non-null  float64
 18  Hub height (m)             86464 non-null  float64
 19  Rotor diameter (m)         86464 non-null  float64
 20  Altitude (m)               86464 non-null  float64
 21  Length of blades (m)       86464 non-null  float64
 22  Weight (tons)              86464 non-null  float64
 23  Rotor surface (m2)         86464 non-null  float64
 24  GPS1                       86464 non-null  float64
 25  GPS2                       86464 non-null  float64
dtypes: float64(26)
memory usage: 17.8 MB
None

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state = 10)

In [34]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()  # Instanciation du modèle

reg.fit(X_train, y_train)  # Ajustement sur les données d'entrainement

reg.score(X_train, y_train)  # Score sur les données test

0.6550864857235951

In [36]:
y_pred_linreg = reg.predict(X_test) # Prédiction de X sur le jeu de données test 

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
mse_test=mean_squared_error(y_test,y_pred_linreg)
print('MSE est :', mse_test)
mae_test=mean_absolute_error(y_test,y_pred_linreg)
print('MAE est :', mae_test)

MSE est : 61520.257441243615
MAE est : 188.5744189762745

In [37]:
# On importe le modèle de Regression Lasso 
from sklearn.linear_model import Lasso 

lasso = Lasso()
lasso.fit(X_train, y_train)

lasso.score(X_train, y_train)

0.5583356647248279

In [38]:
y_pred_lasso = lasso.predict(X_test)

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
mse_test_lasso=mean_squared_error(y_test, y_pred_lasso)
print('MSE est :', mse_test_lasso)
mae_test_lasso=mean_absolute_error(y_test,y_pred_lasso)
print('MAE est :', mae_test_lasso)

MSE est : 76498.69159011955
MAE est : 204.72035322032698

In [39]:
# On importe le modèle de Regression RandomForest qui nous montre le meilleur score sur le jeu de train 
from sklearn.ensemble import RandomForestRegressor 

random = RandomForestRegressor(random_state=100)
random.fit(X_train, y_train)
random.score(X_train, y_train)

0.9841813407960694

In [40]:
# Néanmoins l'erreur sur le jeu de test pour la prédiction y est assez élevée. Le modèle Random reste quand même le plus performant parmi les 3 testés. 
# Il sera judicieux de tester d'autres modèles et/ou ajouter les paramètres en plus pour trouver la meilleure performance.   
y_pred_random = random.predict(X_test)

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
mse_test_random=mean_squared_error(y_test, y_pred_random)
print('MSE est :', mse_test_random)
mae_test_random=mean_absolute_error(y_test,y_pred_random)
print('MAE est :', mae_test_random)

MSE est : 20332.144274065333
MAE est : 81.28113952607191

In [41]:
from sklearn.model_selection import GridSearchCV
rf = RandomForestRegressor()
param_rf = {'n_estimators' : (150, 200)}

grid_rf = GridSearchCV(rf, param_rf, cv=3)
grid_rf.fit(X_train, y_train)
print("Meilleurs hyperparamètres RF : ", grid_rf.best_params_)
print("Score : ", grid_rf.best_score_)

Meilleurs hyperparamètres RF :  {'n_estimators': 200}
Score :  0.8816069599808999